
<nav class="navbar navbar-inverse center_div">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" [routerLink]="['/']">MSN Demo App</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isLoggedIn">
              <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-sign-in"></span> Sign Up</a></li>
          </ul>
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['/home']">Home</a></li>
              <ng-container *ngIf="authService.isAdmin">
                <li><a [routerLink]="['/members']">Members</a></li>
                <li><a [routerLink]="['/tournaments']">Tournaments</a></li>
                </ng-container>
                <ng-container *ngIf=authService.isLoggedIn>
                <li><a [routerLink]="['/espaceMember']"> Espace Membre</a></li>
                </ng-container>
          </ul>
         
          <ul class="nav navbar-nav navbar-right" *ngIf="authService.isLoggedIn">
              <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class='container-fluid center_div'>
  <router-outlet></router-outlet>
</div>