<mymodal title="{{(frm.value._id ? 'Edit existing' : 'Add a new') + ' tournament'}}" 
(shown)="ouvrir()"     
(closed)="fermer()">
<div body>
    <div class="row">
        <div class="col-sm-12">
            <form id="frm" class="form-horizontal" [formGroup]="frm" novalidate>
                <my-input #name label="Name" 
                          formControlName="name" [readonly]="frm.value._id"></my-input>
                <my-input label="Start" type="Date" 
                          formControlName="start"></my-input>  
                <my-input label="finish" type="date" 
                          formControlName="finish"></my-input>
                <my-input label="MaxPlayers" formControlName="maxPlayers" ></my-input>
            </form>
        </div>
    </div>
</div>
<div footer>
    <button type="submit" form="frm" class="btn btn-default" 
            [disabled]="frm.pristine || frm.invalid || frm.pending"
        (click)="update()">{{frm.value._id ? 'Update' : 'Add'}}</button>
    <button type="reset" class="btn btn-default" (click)="cancel()">Cancel</button>
</div>
</mymodal>