

<mymodal title='Edit an existing game'(shown)="ouvrir()" (closed)="fermer()">
    <div body>
        <div class="row">
            <div class="col-sm-12">
                <form id="frm" class="form-horizontal" [formGroup]="frm" novalidate>
                    <my-input  label="playerOne" formControlName="playerOne" [readonly]="true"></my-input>
                    <my-input #scoreOne label="scoreOne" formControlName="scoreOne" [readonly]="frm.value.playerOne!=authService.currentUser"></my-input>
                    <my-input  label="tournament" formControlName="tournament" [readonly]="true"></my-input>
                    <my-input  label="playerTwoo" formControlName="playerTwoo" [readonly]="true"></my-input>
                    <my-input #scoreTwoo label="scoreTwoo" formControlName="scoreTwoo"  [readonly]="frm.value.playerOne==authService.currentUser"></my-input>
                </form>
            </div>
        </div>
    </div>
    <div footer>
        <button type="submit" form="frm" class="btn btn-default" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{frm.value._id ? 'Update' : 'Add'}}</button>
        <button type="reset" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
</mymodal>