<div class="row" *ngIf="member">
    <div class="col-sm-8">
        <div>
            <label>Pseudo : </label>
            <label> {{member.pseudo}}</label>
        </div>
        <div>
            <label>Profile : </label>
            <label> {{member.profile}}</label>
        </div>
        <div>
            <label>BrithDate : </label>
            <label> {{member.birthdate==null? "undifind": member.birthdate | date : 'shortDate' }}</label>
        </div>
        <div>
            <button class="btnEdit" type="button" (click)="editProfil()"> Edit Profile </button>
        </div>
    </div>
</div>

<div class="contenair" *ngIf="member">
    <div class=" col-sm-12">
        <div>
            <h3> All Games:</h3>
        </div>
        <mytable #games [columnDefs]="columnDefsGames" [getDataService]="getDataGameService" filterPlaceHolder="Filter Games " [updateService]="updateGameService"
            [editComponent]="editGame" (selectedItemChanged)="selectedItemGame($event)" editOnly="true">
        </mytable>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div>
                <h3>Tournament not assigned :</h3>
            </div>
            <mytable #tournamentsNotAssigned [columnDefs]="columnDefsTournamentsNotAssigned" [getDataService]="getDataTournamentsNotAssignedService"
                filterPlaceHolder="Filter Tournaments " (selectedItemChanged)="selectedItemTournamentNotAssigned($event)" readOnly="true"></mytable>
        </div>

        <div class="col-sm-2">
            <div>
                <button class="btn" type="button" (click)="addAllTournamentsNotAssigned()">>></button>
            </div>
            <div>
                <button class="btn" type="button" (click)="addTournamentNotAssigned()">></button>
            </div>
            <div>
                <button class="btn" type="button" (click)="removeTournamentAssigned()">
                    <</button>
            </div>
            <div>
                <button class="btn" type="button" (click)="removeAllTournamentsAssigned()">
                    <<</button>
            </div>
        </div>
        <div class=" col-sm-5">
            <div>
                <h3>Tournament assigned :</h3>
            </div>
            <mytable #tournamentsAssigned [columnDefs]="columnDefsTournamentsAssigned" [getDataService]="getDataTournamentsAssignedService"
                filterPlaceHolder="Filter Tournaments " (selectedItemChanged)="selectedItemTournamentAssigned($event)" readOnly="true"></mytable>
        </div>
        <div [ngStyle]="{color:'red'}">{{message}}</div>
    </div>

</div>
<edit-game #editGame> </edit-game>
<edit-member #editMember></edit-member>