<div class="row">
    <div class="col-sm-12">
        <h1>Welcome {{ authService.currentUser}} !</h1>
    </div>
</div>
<ng-container >
    <div class="row">
        <div class="col-sm-12">
            <h3>there are {{memberCount}} members in the system </h3>
        </div>
    </div>
</ng-container>

