<div class="row">
        <div class="col-sm-12">
            <h1>Members</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>I found the following members :</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <mytable #members [columnDefs]="columnDefs" [getDataService]="getDataService" [addService]="addService" [deleteService]="deleteService"
                [updateService]="updateService" filterPlaceHolder="Filter Members" [editComponent]="editMember" addCaption="Add New Member"
                [pageSize]="5"  (selectedItemChanged)="selectedItemChanged($event)" [cancellable]="false" [confirmDelete]="true"></mytable>
        </div>
    </div>
   
    <edit-member #editMember></edit-member>