.col-sm-2{
   margin-top: 9%;
   padding-left:6%;
}
.btn{
    margin :1px;
    width: 40px;
}
.lien{
    font-size: 22px;
    margin-left: 10px
}
.btnEdit{
    width: 100px;
    height: 30px;
    margin: 1px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}