<div class=" col-sm-12" *ngIf="tournamentName">
    <div class="row">
        <div class="col-sm-12 ">
            <h3> All Games of {{tournamentName}}:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <mytable #games [columnDefs]="columnDefsGames" [getDataService]="getDataGameService" filterPlaceHolder="Filter Games " readOnly="true">
            </mytable>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <h3>Global score of member</h3>
        </div>
    </div>
    <div class="row">
        <div *ngIf="score">
            <table>
                <tr>
                    <th>name Of member</th>
                    <th> global score</th>
                </tr>
                <tbody>
                    <tr *ngFor="let s of score">
                        <td> {{s['pseudo']}}</td>
                        <td>{{s['resultat']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>