<div class="row">
    <div class="col-sm-12">
        <h1>Tournaments</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>I found the following tournaments :</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mytable #tournaments [columnDefs]="columnDefs" [getDataService]="getDataService" [addService]="addService" [deleteService]="deleteService"
            [updateService]="updateService" filterPlaceHolder="Filter tournaments" [editComponent]="editTournament" addCaption="Add New Tournament"
            [pageSize]="5" (selectedItemChanged)="selectedItemChanged($event)" [cancellable]="false" [confirmDelete]="true"></mytable>
    </div>
</div>
<div *ngIf="selectedTournament">
    <div class="row">
        <div class="col-sm-5">
            <a class="lien" [routerLink]="['/tournamentDetail',selectedTournament.name]">Display tournament {{selectedTournament.name }} games result....</a>
        </div>
    </div>  
</div>
<div class="row">
        <div class="col-sm-5">
                <div>
                    <h3>Members not assigned :</h3>
                </div>
                <mytable #membersNotAssigned [columnDefs]="columnDefsMembersNotAssigned" [getDataService]="getDataMembersNotAssignedService"
                    filterPlaceHolder="Filter Members " (selectedItemChanged)="selectedItemMemberNotAssigned($event)" readOnly="true"></mytable>
        </div>
        <div class="col-sm-2">
            
                <div>
                    <button class="btn" type="button" (click)="addAllMembersNotAssigned()">>></button>
                </div>
                <div>
                    <button class="btn" type="button" (click)="addMemberNotAssigned()">></button>
                </div>
                <div>
                    <button class="btn" type="button" (click)="removeMemberAssigned()">
                        <</button>
                </div>
                <div>
                    <button class="btn" type="button" (click)="removeAllMembersAssigned()">
                        <<</button>
            </div>
        </div>
        <div class=" col-sm-5">
            <div>
                <h3>Members assigned :</h3>
            </div>
            <mytable #membersAssigned [columnDefs]="columnDefsMembersAssigned" [getDataService]="getDataMembersAssignedService" filterPlaceHolder="Filter Members "
                (selectedItemChanged)="selectedItemMemberAssigned($event)" readOnly="true"></mytable>
        </div>
    </div>


<div [ngStyle]="{color:'red'}">{{message}}</div>




<edit-tournament #editTournament></edit-tournament>