table {
    width: 35%;
    margin-top: 20px;
    margin-left: 0px;
    margin-left: 30%;
}
 th, td {
    border-bottom: 1px solid #ddd;
    height: 40px;  
    text-align: center;
}
.col-sm-12{
    margin:0;
}
.col-sm-10{
    margin-left: 8%;
    margin-bottom: -20px;
}


